{% for blab in blabs %}
<div class="col-12 square">

  <a href="/blabs/{{ blab._id }}" class="text-decoration-none text-dark">
    <div class="card shadow-sm rounded bg-light">
      <div class="d-flex justify-content-between p-3">
        <div>
          <h6><strong>{{ blab.text_content }}</strong></h6>
          <small>by {{ blab.user_email }}</small>
        </div>
        <small class='d-flex text-right'>
          {{ blab.date.strftime("%m/%d/%Y %H:%M") }}
          <br>
          {% if blab.updated_date %}  
            Updated at: {{blab.updated_date.strftime("%m/%d/%Y %H:%M")}}
          {% endif %} 
        </small>
      </div>

    </div>
  </a>
</div>
{% endfor %}