{% for blab in blabs %}
<div class="col-12 square">

  <a href="/blabs/{{ blab._id }}" class="text-decoration-none text-dark">
    <div class="card shadow-sm rounded bg-light">
      <div class="overlay">
        <p class="text">{{ blab.text_content }}</p>
      </div>
      <div class="d-flex justify-content-between p-3">
        <div>
          <h6><strong>{{ blab.text_content }}</strong></h6>
          <small>by Guest User</small>
        </div>
        <small>{{ blab.date.strftime("%m/%d/%Y %H:%M") }}</small>
      </div>

    </div>
  </a>
</div>
{% endfor %}