{% for comment in comments %}
<div class="col-lg-6 square">
  <div class="card shadow-sm rounded bg-light">
    <div class="d-flex justify-content-between p-3">
      <div>
        <h6>{{ comment.comment_content }}</h6>
        <small>by Guest User</small>
      </div>
      <div class='d-flex flex-column align-items-end'>
        <small>{{ comment.date.strftime("%m/%d/%Y %H:%M") }}</small>
        <div>
          <a href='/blabs/{{ blab._id }}/comments/{{ comment._id }}/edit' class="btn btn-warning">Edit</a>
          <a href='/blabs/{{ blab._id }}/comments/{{ comment._id }}/delete' class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}