{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5 pt-4 pb-4">

    <a href="/profile" class="d-flex mr-4">
      <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" height='40' width='40' style="border-radius: 50px;">
      <div class="d-flex flex-column ml-2">
        <span class='text-dark'>Guest User</span>
      </div>
    </a>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-3">
      <div class="col-12 col-lg-6">
        <h3>{{ blab.text_content }}</h3>
        <!-- <small>{{ blab.date.strftime("%m/%d/%Y %H:%M") }}</small> -->
        <!-- <small>Blab ID: {{ blab._id }}</small> -->
        <div class='d-flex flex-column align-items-end'>
          <small class='d-flex text-right'>
            Posted at: {{ blab.date.strftime("%m/%d/%Y %H:%M") }}
            <br>
            {% if blab.updated_date %}  
              Updated at: {{blab.updated_date.strftime("%m/%d/%Y %H:%M")}}
            {% endif %} 
          </small>
          <div class='mt-2'>
            <a href='/blabs/{{ blab._id }}/edit' class="btn btn-warning">EDIT</a>
            <a href='/blabs/{{ blab._id }}/delete' class="btn btn-danger">DELETE</a>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h5>Add a Comment:</h5>
      <form action="/blabs/{{ blab._id }}/comments" method="POST" class="col-lg-6 d-flex flex-column justify-content-around" style="height: 100%">
        <div class="d-flex flex-column ">
          <textarea 
            class="form-control" 
            type="text" 
            list='comment_content'
            name="comment_content" 
            required
            autofocus
          ></textarea> 
        </div>
        <div class="form-group align-self-end mt-3">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class='col-lg-6 alert alert-{{ category }}'>{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h4>Comments</h4>
      {% include 'partials/comments_show_for_loop.html' %}

    </div>
  </div>
{% endblock %}