{% extends 'base.html' %}

{% block content %}
  <div class="container">

    <a href="/profile" class="d-flex mr-4">
      <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" height='40' width='40' style="border-radius: 50px;">
      <div class="d-flex flex-column ml-2">
        <span class='text-dark'>Guest User</span>
      </div>
    </a>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-5">
      <div class="col-12 col-lg-6">
        <h3>{{ blab.text_content }}</h3>
        <small>{{ blab.date.strftime("%m/%d/%Y %H:%M") }}</small>
        <!-- <small>Blab ID: {{ blab._id }}</small> -->
        <a href='/blabs/{{ blab._id }}/edit' class="btn btn-warning">EDIT</a>
        <a href='/blabs/{{ blab._id }}/delete' class="btn btn-danger">DELETE</a>
      </div>
    </div>

    <div>
      <h4>Comments:</h4>
    </div>
  </div>
{% endblock %}